@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background: linear-gradient(
    to bottom right,
    var(--page-background-color)
  );
  font-size: 20px;
}

button:disabled {
  cursor: not-allowed;
  filter: brightness(70%);
}

:root {
  --font-family: "PT Sans";
  --text-color: #ffffff;
  --border-color: #9f9f9f;
  --scrollbar-color: #ffffff;
  --green-900: #006466;
  --green-800: #065a60;
  --green-700: #0b525b;
  --green-600: #144552;
  --green-500: #1b3a4b;
  --blue-900: #212f45;
  --purple-900: #272640;
  --purple-800: #312244;
  --purple-700: #3e1f47;
  --pink-900: #4d194d;
  --page-background-color: var(--green-900), var(--green-800), var(--green-700),
    var(--green-600), var(--green-500), var(--blue-900), var(--purple-900),
    var(--purple-800), var(--purple-700), var(--pink-900);
}

/* Стилизация скроллбара для Webkit-браузеров (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* ширина скроллбара */
}

::-webkit-scrollbar-track {
  background: none; /* цвет дорожки скроллбара */
  border-radius: 4px; /* скругление углов дорожки */
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color); /* цвет ползунка скроллбара */
  border-radius: 4px; /* скругление углов ползунка */
}
